/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Utility Classes */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    --color-dark: #161616;
    --color-gray: #B9B9B9;
    --color-red: #DD0000;
    --color-white: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-white);
}
.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem;
    margin-top: 2rem;
}
.hero {
    background-color: var(--color-dark);
    max-height: 646px;
    max-width: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 5rem 0rem 5rem;
}
.hero-content {
    width: 50%;
    max-height: 100%;
}
.hero-img {
    width: 50%;
    height: 100%;

}
.hero-content h1 {
    color: var(--color-white);
    font-size: 5rem;
}
.hero-content p {
    font-size: 1rem;
    color: var(--color-white);
    padding: 2rem 0;
}
.hero-img img {
    height: 572px;
    object-fit: cover;
}
.btn-primary {
    display: inline-block;
    cursor: pointer;
    font: inherit;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-red);
    padding: 1rem;
    border-radius: 5px;
}

